<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.css" />

    <title>Course Site</title>
  </head>

  <body>
    <!-- header -->
    <%- include("./basic/header.ejs") %>

    <div class="content">
      <div class="container mb-5">
        <div id="page1" class="">
          <h2 class="mt-3 mb-5 text-danger">購物車</h2>

          <table
            id="products"
            class="border-gray table table-striped table-bordered my-5"
          >
            <thead class="text-center">
              <tr>
                <th>課程名稱</th>
                <th>單價</th>
                <th>移除</th>
              </tr>
            </thead>
            <tbody class="products-content text-center"></tbody>
          </table>

          <hr />
          <h5 class="text-right w-100 font-weight-bold">
            總計 $ <span id="total">0</span> 元
          </h5>
          <div class="text-right">
            <!-- 當用戶確認完商品時, 導至商品收貨資料填寫頁 -->
            <button
              id="changePage"
              class="btn btn-lg btn-danger mb-3"
              onclick="changePage()"
            >
              填寫訂單資料
            </button>
          </div>
        </div>
        <div id="page2" class="d-none">
          <h2 class="mt-3 mb-5 text-danger">訂單資料</h2>
          <table>
            <tr>
              <td class="w-10"><label>收件人姓名 : </label></td>
              <td><input id="orderName" /></td>
            </tr>
            <tr>
              <td class="w-10"><label>收件人電話 : </label></td>
              <td><input id="orderPhone" /></td>
            </tr>
            <tr>
              <td class="w-10"><label>結帳金額 : </label></td>
              <td><span class="total"> </span> 元</td>
            </tr>
            <tr>
              <td class="w-10"><label>付款方式 : </label></td>
              <td>
                <input type="radio" id="credit" name="payment" value="credit" />
                <label for="credit" class="mr-3">信用卡付款</label>
                <input type="radio" id="bank" name="payment" value="bank" />
                <label for="bank">銀行轉帳</label>
              </td>
            </tr>
          </table>
          <hr />
          <div class="text-right">
            <button
              id="submitOrder"
              class="btn btn-lg btn-danger mb-3"
              onclick="submitOrder()"
            >
              結帳
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="pay"></div>

    <!-- footer -->
    <%- include("./basic/footer.ejs") %>
  </body>
</html>
