<div class="border-gray col-3 p-3">
    <h3 class="my-3 text-center font-weight-bold"><%= course.name %></h3>
    <hr class="my-12" />
    <div class="middle mt-4 text-center">
        <h5 class="font"> 課程說明 </h5>
    </div>
    <div class="text-center row">
        <div class="mt-4">
            $ <span id="price"><%= course.price %></span> 元</div>
        </p>
        <button type="button" class="btn btn-danger w-10 middle">
            加入購物車
        </button>
    </div>
</div>